@{
    ViewData["Title"] = "Home Page";
}

<p>@Html.ActionLink("See account", "Index", "Account")</p>

<div class="text-center">
    <h1 class="display-4">Welcome to the Library</h1>
    <p>See our books @Html.ActionLink("here","Index", "Book")!</p>
</div>
